.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.path {
  font-size: 12px;
  padding: 15px 135px 0px;
}

.center_div {
  display: flex;
  justify-content: space-between;
}

.card_wrap {
  display: flex;
  margin: 50px 80px;
  height: 300px;
}

.content_wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.image_wrap {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy_image {
  position: relative;
  height: 90%;
  width: 90%;
  background: url("https://gumlet.assettype.com/newslaundry%2F2020-03%2F0f82bf42-2ed6-4f63-93fc-ae1b522472bd%2Farnab_silence.jpg?auto=format%2Ccompress&fit=max&w=480&dpr=2.6");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 15px #00000038;
}

.dummy_image a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.read_time {
  font-size: 12px;
  margin: 36px 0px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
}

.section_name {
  font-size: 12px;
  background: #ec4437;
  background: linear-gradient(to bottom right, #c09, #ec4437 85%);
  border-radius: 10px;
  color: white;
  text-align: center;
  width: max-content;
  padding: 0px 10px;
}

@media (min-width: 110px) and (max-width: 500px) {
  .card_wrap {
    flex-wrap: wrap;
    margin: 0;
  }

  .path {
    padding: 15px 15px 0px;
  }

  .center_div {
    flex-direction: column;
  }

  .read_time {
    margin: 5px 0px;
    font-weight: 800;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .padding {
    height: 90%;
    width: 90%;
  }
}
